@use './styles/base/colors' as *;
@use './styles/base/fonts' as *;

#root {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

.main {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-around;

   h1 {
    font-family: $font-alt;
    -webkit-text-stroke: 0.1rem $color-client-3;
    color: transparent;
  }

  .img {
    margin: 2rem 0 0 4rem;
    max-width: clamp(16rem, 30vw, 22rem);
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(5px 5px 10px rgb(128, 128, 128));
    cursor: pointer;
  }
}
