@font-face {
  font-family: CaviarDreams;
  src: url('./assets/fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: CaviarDreamsBold;
  src: url('/assets/fonts/Caviar_Dreams_Bold.ttf');
}

@font-face {
  font-family: SourceProLight;
  src: url('./assets/fonts/SourceSansPro-Light.otf');
}

@font-face {
  font-family: SourcePro;
  src: url('./assets/fonts/SourceSansPro-Regular.otf');
}

*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* change to own file and make it scss / or styled global */
  --font-primary: SourcePro;
  --font-primary-light: SourceProLight;
  --font-alt: CaviarDreams;
}
